{% extends "base.html" %}
{% block title %}Sign up{% endblock%}
{%block content%} 
<link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}"/>
<!----
Sign up page for employees
Requirements: 
        - Unique Email
        - First Name > 2 characters
        - Matching Passwords > 7 characters
        
TODO:
    - need an employee class in our database that relates to the user so we can have departments per employee
    - need admin validation to confirm an employee account?
---> 

<div class="mainContent row">
    <!--- RIGHT SIDE BAR --->
    <div class="rightSideBar column" style="background-color: #04354d; width: 30%; height: 100%;">
        <ul style="list-style:none; justify-content: space-between;">
            <li style="margin: 20px 0px;"><a style="color: white;font-size: 15px;" href="https://www.contracosta.ca.gov/635/Business-Units">Business Units</a></li>
            <li style="margin: 20px 0px;"><a style="color: white;font-size: 15px;" href="https://www.contracosta.ca.gov/6176/Enterprise-System-Catalog">Enterprise System Catalog</a></li>
            <li style="margin: 20px 0px;"><a style="color: white;font-size: 15px;" href="https://www.contracosta.ca.gov/DocumentView.asp?DID=1700">Federal Engineering Report (PDF)</a></li>
            <li style="margin: 20px 0px;"><a style="color: white;font-size: 15px;" href="https://www.contracosta.ca.gov/1818/GIS">GIS</a></li>
            <li style="margin: 20px 0px;"><a style="color: white;font-size: 15px;" href="https://www.contracosta.ca.gov/5439/Helpdesk">Helpdesk</a></li>
            <li style="margin: 20px 0px;"><a style="color: white;font-size: 15px;" href="https://www.contracosta.ca.gov/672/Mission-Statement">Mission Statement</a></li>
            <li style="margin: 20px 0px;"><a style="color: white;font-size: 15px;" href="https://www.contracosta.ca.gov/666/Policies-Contracts">Policies & Contracts</a></li>
            <li style="margin: 20px 0px;"><a style="color: white;font-size: 15px;" href="https://www.contracosta.ca.gov/665/Word-from-Chief-Information-Officer">Word from Chief Information Officer</a></li>
        </ul>
    </div>
    <!---- LEFT SIDE BAR ---->
    <div class="leftSideBar column">
        <center><h3 style="font-weight: 550;">Contra Costa Employee Sign up</h3></center>
        <center><p>Create an account or <a href="/login">log in</a> here</p></center>
        <div class="formContainer">
            <form method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                    type="email" 
                    class="form-control" 
                    id="email" 
                    name="email" 
                    placeholder="Enter Email"
                    />
                </div>
                <div class="form-group">
                    <label for="firstName">Full Name</label>
                    <input
                    type="firstName" 
                    class="form-control" 
                    id="firstName" 
                    name="firstName" 
                    placeholder="Enter Full Name"
                    />
                </div>
                <div class="form-group">
                    <label for="password1">Password</label>
                    <input 
                    type="password" 
                    class="form-control" 
                    id="password1" 
                    name="password1" 
                    placeholder="Enter Password"
                    />
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input
                    type="password" 
                    class="form-control" 
                    id="password2" 
                    name="password2" 
                    placeholder="Confirm Password"
                    />
                </div>
                <div class="form-group">
                    <label for="department2">Department</label>
                    <select 
                    type="dropdown" 
                    class="form-control" 
                    id="department2" 
                    name="department2" 
                    placeholder="Department">
                    {% for option in departments %}
                    <option>{{option.department}}</option>
                    {% endfor %}
                    </select>
                </div><br/>
                <button type="submit" class="btn btn-primary btn-login">Create Account</button>
            </form>
        </div>
    </div>
</div>  
{%endblock%}
